In [1]:
!pip install nipals

Collecting nipals
  Downloading nipals-0.5.4-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: pandas>=0.22 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from nipals) (1.3.3)
Requirement already satisfied: matplotlib>2.0.0 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from nipals) (3.4.3)
Requirement already satisfied: scipy>=1.0.0 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from nipals) (1.7.1)
Requirement already satisfied: numpy>=1.17.3 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from pandas>=0.22->nipals) (1.21.2)
Requirement already satisfied: pytz>=2017.3 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from pandas>=0.22->nipals) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from pandas>=0.22->nipals) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from matplotlib>2.0.0->nipals) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from matplotlib>2.0.0->nipals) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from matplotlib>2.0.0->nipals) (1.3.2)
Requirement already satisfied: pillow>=6.2.0 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from matplotlib>2.0.0->nipals) (8.3.2)
Requirement already satisfied: six>=1.5 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.22->nipals) (1.16.0)
Installing collected packages: nipals
Successfully installed nipals-0.5.4
WARNING: You are using pip version 20.2.3; however, version 21.2.4 is available.
You should consider upgrading via the '/superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/bin/python -m pip install --upgrade pip' command.

In [44]:
!pip install statsmodels

Collecting statsmodels
  Using cached statsmodels-0.13.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
Requirement already satisfied: scipy>=1.3 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from statsmodels) (1.7.1)
Requirement already satisfied: pandas>=0.25 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from statsmodels) (1.3.3)
Requirement already satisfied: numpy>=1.17 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from statsmodels) (1.21.2)
Collecting patsy>=0.5.2
  Using cached patsy-0.5.2-py2.py3-none-any.whl (233 kB)
Requirement already satisfied: pytz>=2017.3 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: six in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.2 statsmodels-0.13.0
WARNING: You are using pip version 20.2.3; however, version 21.2.4 is available.
You should consider upgrading via the '/superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/bin/python -m pip install --upgrade pip' command.

In [2]:
!pip install missingpy

Requirement already satisfied: missingpy in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (0.2.0)
WARNING: You are using pip version 20.2.3; however, version 21.2.4 is available.
You should consider upgrading via the '/superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/bin/python -m pip install --upgrade pip' command.

In [3]:
!pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (1.0)
Requirement already satisfied, skipping upgrade: scipy>=1.1.0 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from scikit-learn) (1.7.1)
Requirement already satisfied, skipping upgrade: numpy>=1.14.6 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from scikit-learn) (1.21.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/lib/python3.9/site-packages (from scikit-learn) (1.0.1)
WARNING: You are using pip version 20.2.3; however, version 21.2.4 is available.
You should consider upgrading via the '/superbugai-data/yash/chapter_1/workspace/EHRQC/notebooks/.venv/bin/python -m pip install --upgrade pip' command.

In [2]:
import os
import pandas as pd

In [3]:
# path = os.getcwd() + '/../../data/mimic_top_numeric_vitals.csv'
path = os.getcwd() + '/../../data/mimic_top_labs.csv'
dataDf = pd.read_csv(path)

In [4]:
dataDf.head()

,Unnamed: 0,hadm_id,glucose,hemoglobin,anion_gap,bicarbonate,calcium_total,chloride,creatinine,magnesium,...,sodium,urea_nitrogen,hematocrit,mch,mchc,mcv,platelet_count,rdw,red_blood_cells,white_blood_cells
0,0,20000094,286.5,13.05,27.0,23.500000,8.55,84.000000,3.85,2.1,...,130.0,99.00,41.100000,27.75,31.75,87.5,104.5,20.45,4.705,12.40
1,1,20000147,180.6,11.24,16.0,22.333333,NaN,100.333333,0.70,2.3,...,132.5,14.25,32.566667,30.94,33.94,91.4,244.0,12.38,3.660,9.08
2,2,20000351,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,20000397,NaN,NaN,NaN,NaN,NaN,NaN,0.95,2.1,...,138.5,16.00,48.100000,NaN,NaN,NaN,185.0,NaN,NaN,5.20
4,4,20000808,138.5,12.70,14.5,23.000000,9.50,104.500000,0.70,1.9,...,137.5,14.00,36.800000,30.30,34.60,87.5,321.0,13.20,4.200,9.90

In [5]:
dataDf = dataDf.iloc[: , 1:]

In [6]:
dataDf.set_index('hadm_id', inplace=True)

In [7]:
dataDf.head()

,glucose,hemoglobin,anion_gap,bicarbonate,calcium_total,chloride,creatinine,magnesium,phosphate,potassium,sodium,urea_nitrogen,hematocrit,mch,mchc,mcv,platelet_count,rdw,red_blood_cells,white_blood_cells
hadm_id,,,,,,,,,,,,,,,,,,,,
20000094,286.5,13.05,27.0,23.500000,8.55,84.000000,3.85,2.1,6.65,4.45,130.0,99.00,41.100000,27.75,31.75,87.5,104.5,20.45,4.705,12.40
20000147,180.6,11.24,16.0,22.333333,NaN,100.333333,0.70,2.3,3.50,4.30,132.5,14.25,32.566667,30.94,33.94,91.4,244.0,12.38,3.660,9.08
20000351,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20000397,NaN,NaN,NaN,NaN,NaN,NaN,0.95,2.1,NaN,4.45,138.5,16.00,48.100000,NaN,NaN,NaN,185.0,NaN,NaN,5.20
20000808,138.5,12.70,14.5,23.000000,9.50,104.500000,0.70,1.9,3.70,4.55,137.5,14.00,36.800000,30.30,34.60,87.5,321.0,13.20,4.200,9.90

In [11]:
from nipals import nipals

nip = nipals.Nipals(dataDf)
nip.fit(ncomp=2, maxiter=1000, center=True, scale=True, tol=0.1)

RuntimeError: Convergence was not reached in 1000 iterations for component 0

In [25]:
dataDf.shape

(68228, 20)

In [24]:
dataDf[:1000]

,glucose,hemoglobin,anion_gap,bicarbonate,calcium_total,chloride,creatinine,magnesium,phosphate,potassium,sodium,urea_nitrogen,hematocrit,mch,mchc,mcv,platelet_count,rdw,red_blood_cells,white_blood_cells
hadm_id,,,,,,,,,,,,,,,,,,,,
20000094,286.500,13.050000,27.000000,23.500000,8.550000,84.000000,3.850000,2.100000,6.650000,4.450,130.00,99.000000,41.100000,27.750000,31.750000,87.500000,104.500000,20.450000,4.705000,12.400000
20000147,180.600,11.240000,16.000000,22.333333,NaN,100.333333,0.700000,2.300000,3.500000,4.300,132.50,14.250000,32.566667,30.940000,33.940000,91.400000,244.000000,12.380000,3.660000,9.080000
20000351,1000.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20000397,NaN,NaN,NaN,NaN,NaN,NaN,0.950000,2.100000,NaN,4.450,138.50,16.000000,48.100000,NaN,NaN,NaN,185.000000,NaN,NaN,5.200000
20000808,138.500,12.700000,14.500000,23.000000,9.500000,104.500000,0.700000,1.900000,3.700000,4.550,137.50,14.000000,36.800000,30.300000,34.600000,87.500000,321.000000,13.200000,4.200000,9.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20146065,131.250,12.466667,9.800000,23.800000,7.620000,106.600000,0.520000,1.920000,2.640000,4.140,136.20,19.400000,39.683333,28.950000,32.466667,89.333333,311.000000,16.016667,4.450000,5.250000
20146147,148.000,8.500000,14.500000,21.000000,7.450000,104.000000,1.450000,1.650000,4.000000,4.800,134.50,20.500000,27.600000,30.700000,30.800000,100.000000,688.000000,13.600000,2.780000,18.200000
20146188,136.000,11.966667,13.666667,29.000000,8.233333,98.000000,0.666667,2.066667,3.266667,3.325,136.75,5.666667,35.733333,31.233333,33.433333,93.333333,94.666667,13.566667,3.833333,12.133333
20146263,141.625,8.400000,15.800000,20.600000,8.020000,102.600000,1.440000,1.940000,3.900000,3.640,139.00,34.200000,27.180000,28.180000,30.940000,91.400000,144.000000,17.060000,2.978000,34.440000
20146305,105.000,12.200000,12.000000,25.000000,8.400000,105.000000,0.800000,2.000000,3.900000,3.900,138.00,20.000000,35.500000,30.400000,34.400000,89.000000,300.000000,12.900000,4.010000,9.600000

In [30]:
from statsmodels.multivariate.pca import PCA

pc = PCA(data=dataDf[:10000], ncomp=1, missing='fill-em')

In [31]:
imputedDf = pd.DataFrame(pc._adjusted_data)
imputedDf

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,286.500000,13.050000,27.000000,23.500000,8.550000,84.000000,3.850000,2.100000,6.650000,4.450000,130.000000,99.000000,41.100000,27.750000,31.750000,87.500000,104.500000,20.450000,4.705000,12.40000
1,180.600000,11.240000,16.000000,22.333333,8.488633,100.333333,0.700000,2.300000,3.500000,4.300000,132.500000,14.250000,32.566667,30.940000,33.940000,91.400000,244.000000,12.380000,3.660000,9.08000
2,1000.000000,-56.556718,84.495680,-39.808656,2.521408,66.557664,43.022889,5.227876,33.300235,13.436628,104.791670,624.808232,-146.982117,22.836118,9.068044,135.473385,-97.500342,69.592306,-17.570057,58.25023
3,125.138839,12.840119,12.158916,25.763691,8.642643,104.750147,0.950000,2.100000,2.664833,4.450000,138.500000,16.000000,48.100000,30.228908,33.692118,89.748193,185.000000,13.389235,4.261718,5.20000
4,138.500000,12.700000,14.500000,23.000000,9.500000,104.500000,0.700000,1.900000,3.700000,4.550000,137.500000,14.000000,36.800000,30.300000,34.600000,87.500000,321.000000,13.200000,4.200000,9.90000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,128.500000,13.950000,12.500000,25.500000,8.500000,98.500000,0.800000,2.050000,3.550000,4.950000,136.500000,14.500000,42.600000,26.950000,32.750000,82.000000,203.000000,16.500000,5.175000,7.95000
9996,80.000000,10.000000,20.000000,13.000000,7.200000,108.000000,2.450000,2.050000,6.450000,4.950000,136.000000,28.000000,33.300000,26.600000,30.100000,88.000000,191.000000,23.800000,3.770000,18.90000
9997,80.500000,7.280000,14.500000,26.500000,8.200000,104.250000,2.800000,1.925000,3.900000,4.050000,141.250000,47.000000,23.160000,29.320000,31.460000,93.200000,95.800000,13.160000,2.488000,3.00000
9998,105.000000,11.950000,12.000000,26.000000,8.200000,101.000000,1.100000,1.900000,2.800000,4.250000,139.000000,19.500000,37.200000,29.250000,32.150000,91.000000,159.000000,13.500000,4.090000,9.50000
9999,166.666667,7.725000,27.666667,16.333333,7.333333,91.333333,10.966667,1.866667,7.133333,4.900000,130.333333,127.000000,23.750000,29.050000,32.375000,89.750000,77.250000,16.425000,2.655000,10.15000

In [18]:
# from missingpy import KNNImputer
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=2, weights="uniform", missing_values="NaN")

In [19]:
import numpy as np

nan = np.nan
X = [[1, 2, nan], [3, 4, 3], [nan, 6, 5], [8, 8, 7]]
imputer = KNNImputer(n_neighbors=2, weights="uniform")
imputer.fit_transform(X)

array([[1. , 2. , 4. ],
       [3. , 4. , 3. ],
       [5.5, 6. , 5. ],
       [8. , 8. , 7. ]])